body {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    font-family: 'Open Sans', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}


@media (max-width: 767px) {
    body {
        max-width: 95%;
    }
}

a{
    text-decoration: inherit;
    color: grey;
}

a:hover {
    color: goldenrod;
}

/* FONT */
h1,h2{
    font-family: "Georgia Pro" ;
}

h3 {
    font-family: "Palatino";
}

p{
    font-family: 'Helvetica Neue';
}

h2 {
    margin-bottom: 25px;
}

h1,section {
    margin-bottom: 75px;
}



/* NAV */

nav{
    overflow: hidden;
    position: relative;
    background: linear-gradient(#ffffff,#f0f5f5);
    margin-bottom: 50px;
    padding-bottom: 25px;
}
    
nav ul {
    
    margin: 0;
    padding: 0;
}

nav .left-menu {
    float: left;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}


nav .right-menu {
    float: right;
}

nav li  {
    list-style-type: none;
    text-decoration: none;
    margin: 5px;
    font-family: 'Helvetica Neue';
}
    
nav li a {
    color: black;

}
    
nav li a:hover {

    color: goldenrod;
}

h1{
    text-align: center
}
    
#usage li {
    color:grey
}

/* SECTION */

.container {
    display: flex;
    flex-direction: row;
}

.last_p {
    display: flex;
    flex-direction: row;  
}

.column {
    flex: 1; 
    padding: 5px;
}

img {
    width: 100%; 
    height: auto;
    object-fit: cover;  
}


/* FOOTER */

footer {
    overflow: hidden;
    position: relative;
    background-color: #f0f5f5;
    display: flex;
    margin-top: 25px;
    padding-top: 25px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer li {

    list-style-type: none;
    text-decoration: none;
    color: black;
    margin: 10px;
    font-family: 'Helvetica Neue';
    
}

footer li a  {
   
    margin: 5px;
    color: black;
}